@media screen and (min-width: 1200px) and (max-width: 4000px) {
    .bg-light {
        display: none;

    }
.col-xl-12 {
    padding: 0;
}
}

/*------РАЗРЕШЕНИЕ С 1200px ДО 992px------*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .col-white:before {
        content: "";
        position: absolute;
        top: 0;
        right: -110px;
        height: 100%;
        width: 2000px;
        background-color: white;
    }

    .bg-light {
        display: none;
    }

    .fa-map-marker {
        width: 5px;
        height: 2px;
        font-weight: normal;
        line-height: 16px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
    }

    .rectangle_one {
        padding: 20px 0 0 65px;
        width: 115%;
    }

    .text_second a {
        font-style: normal;
        font-weight: bold;
        line-height: 0px;
        font-size: 12px;
        color: #FFFFFF;
    }

    .text_first {
        font-weight: bold;
        line-height: 18px;
        font-size: 14px;
        color: #FFFFFF;
        float: left;
        padding: 40px 0 0 45px;
    }

    .fa-phone {
        width: 0px;
        height: 0px;
        font-weight: normal;
        line-height: 26px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
        padding: 38px 0 0 0;
    }

    .rectangle_two {
        padding: 15px 0 0 0px;
    }

    .button_calc {
        width: 215px;
        height: 60px;
        background: #FFFFFF;
        float: left;
        margin: 0 0 0 350px;
        border-radius: 50px;
    }

    .fa-calculator {
        font-family: FontAwesome;
        font-weight: normal;
        line-height: 42px;
        font-size: 30px;
        color: #005FA3;
        float: left;
        padding: 10px 0 0 20px;
    }

    .text_second {
        float: left;
        padding: 53px 0 0 15px;
        line-height: 18px;
    }

    .calculator_text {
        font-weight: bold;
        line-height: 20px;
        font-size: 20px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 14px 11px 0 20px;
        text-align: center;
    }

    .calc_button {
        position: absolute;
        left: -186px;
        top: 40px;
    }
    .wripernavi {
        border-bottom: 1px solid #005FA3;
    }
    .navi {
        height: 67px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #005FA3;
        text-align: center;
    }

    .line {
        width: 202.01px;
    }

    #changeable_price {
        font-size: 30px;
    }

    .total_price {
        font-size: 23px;
    }

    .text_button {
        font-size: 18px;
    }

    .advert {
        height: 48px;
        font-style: normal;
        font-weight: bold;
        line-height: 59px;
        font-size: 25px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 0px 0 0 50px;

    }

    .characteristics {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #000000;
        float: left;
    }

    .texture {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        float: left;
        padding: 0px 0 0 93px;
    }

    .capital_headline {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #000000;
        text-transform: uppercase;
        display: inline-block;
    }

    .small_headline {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        display: inline-block;

    }

    .square_meters {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        padding: 0 0 0 10px;
        float: right;
    }

    .input_form {
        width: 45px;
        height: 24px;
        background: #FFFFFF;
        border: 1px solid #005FA3;
        box-sizing: border-box;
        float: right;
        display: inline-block;
        padding: 3px 0 3px 8px;
    }

    .wrapper_calc {
        padding: 0px 60px 0 13px;
    }

    .footer p {
        width: 175px;
        height: 24px;
        padding-top: 38px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        color: #FFFFFF;
    }

    .adress {
        width: 165px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 12px;
        color: #FFFFFF;
        margin-top: 10px;
    }

    .ceiling {
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 15px;
        color: #FFFFFF;
        width: 170%;
    }

    .footer ul li {
        padding: 2px 0 0 0;
    }

    .footer a {
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        font-size: 11px;
        color: #FFFFFF;
    }

    .eurosites {
        padding: 21px 0 0 480px;
    }

}

/*------РАЗРЕШЕНИЕ С 992px ДО 768px------*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .fa-map-marker {
        width: 5px;
        height: 2px;
        font-weight: normal;
        line-height: 16px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
    }

    .bg-light {
        display: none;
    }

    .rectangle_one {
        padding: 20px 0 0 65px;
        width: 115%;
    }

    .text_second a {
        font-style: normal;
        font-weight: bold;
        line-height: 0px;
        font-size: 12px;
        color: #FFFFFF;
    }

    .text_first {
        font-weight: bold;
        line-height: 18px;
        font-size: 14px;
        color: #FFFFFF;
        float: left;
        padding: 0 0 0 8px;
    }

    .fa-phone {
        width: 0px;
        height: 0px;
        font-weight: normal;
        line-height: 26px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
        padding: 0px 0 0 0;
    }

    .rectangle_two {
        padding: 15px 0 0 28px;
    }

    .button_calc {
        width: 310px;
        height: 50px;
        background: #FFFFFF;
        float: left;
        margin: 50px 0 0 20px;
        border-radius: 50px;
    }

    .fa-calculator {
        font-family: FontAwesome;
        font-weight: normal;
        line-height: 42px;
        font-size: 30px;
        color: #005FA3;
        float: left;
        padding: 4px 0 0 20px;
    }

    .calculator_text {
        font-weight: bold;
        line-height: 20px;
        font-size: 20px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 14px 11px 0 20px;
        text-align: center;
    }

    .calc_button {
        position: absolute;
        left: -186px;
        top: 40px;
    }
    .wripernavi {
        border-bottom: 1px solid #005FA3;
    }
    .navi {
        height: 67px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #005FA3;
        text-align: center;
    }
    .navi ul li a {
        display: inline-block;
        padding: 19px 6px;
        text-decoration: none;
        color: #005FA3;
        letter-spacing: 1px;
    }


    .line {
        width: 202.01px;
    }

    #changeable_price {
        font-size: 30px;
    }

    .total_price {
        font-size: 23px;
    }

    .text_button {
        font-size: 18px;
    }

    .advert {
        height: 48px;
        font-style: normal;
        font-weight: bold;
        line-height: 59px;
        font-size: 21px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 0px 0 0 38px;

    }

    .characteristics {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #000000;
        float: left;
    }

    .texture {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        float: left;
        padding: 0px 0 0 93px;
    }

    .capital_headline {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #000000;
        text-transform: uppercase;
        display: inline-block;
    }

    .small_headline {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        display: inline-block;

    }

    .square_meters {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        padding: 0 0 0 10px;
        float: right;
    }

    .error_text {
        display: none;
        color: #d10008;
        font-size: 11px;
        top: 70px;
        left: 10px;
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 30px;
        transition: 1s;
    }

    .input_form {
        width: 45px;
        height: 24px;
        background: #FFFFFF;
        border: 1px solid #005FA3;
        box-sizing: border-box;
        float: right;
        display: inline-block;
        padding: 3px 0 3px 8px;
    }

    .wrapper_calc {
        padding: 0px 60px 0 13px;
    }

    .footer p {
        width: 175px;
        height: 24px;
        padding-top: 38px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        color: #FFFFFF;
    }

    .adress {
        width: 200px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 12px;
        color: #FFFFFF;
        margin-top: 10px;
    }

    .ceiling {
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 15px;
        color: #FFFFFF;
        width: 170%;
    }

    .footer ul li {
        padding: 2px 0 0 0;
    }

    .footer a {
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        font-size: 11px;
        color: #FFFFFF;
    }

    .eurosites {
        padding: 27px 0 0 375px;
    }

}

/*------РАЗРЕШЕНИЕ С 768px ДО 576px------*/
@media screen and (min-width: 576px) and (max-width: 768px) {



    .left_side { /*
        width: 100%;
        height: 545px;
        background: #005FA3;
        padding: 15px;
        float: left;
        margin: 0 0 10px;*/
        width: 100%;
        height: 545px;
        background: #005FA3;
        padding: 15px;
        float: left;
        margin: 0 0 10px;
        right: 0;

    }

    .col-white img {
        width: 155px;
        height: 100px;
    }

    .img_logo {
        position: relative;
        z-index: 2;
        top: 3px;
        left: 180px;
    }

    .rectangle_one {
        padding: 20px 0 0 0;
    }

    .col-white:before {
        content: "";
        position: absolute;
        top: 0;
        right: -110px;
        height: 115%;
        width: 2000px;
        background-color: white;
    }

    .fa-map-marker {
        width: 5px;
        height: 2px;
        font-weight: normal;
        line-height: 16px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
    }

    .text_second a {
        font-style: normal;
        font-weight: bold;
        line-height: 0px;
        font-size: 12px;
        color: #FFFFFF;
    }

    .text_first {
        font-weight: bold;
        line-height: 18px;
        font-size: 14px;
        color: #FFFFFF;
        float: left;
        padding: 0 0 0 8px;
    }

    .fa-phone {
        width: 0px;
        height: 0px;
        font-weight: normal;
        line-height: 26px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
        padding: 0px 0 0 0;
    }

    .rectangle_two {
        padding: 15px 0 0 28px;
    }

    .button_calc {
        width: 310px;
        height: 50px;
        background: #FFFFFF;
        float: left;
        margin: 50px 0 0 20px;
        border-radius: 50px;
        display: none;
    }

    .fa-calculator {
        font-family: FontAwesome;
        font-weight: normal;
        line-height: 42px;
        font-size: 30px;
        color: #005FA3;
        float: left;
        padding: 4px 0 0 20px;
    }

    .calculator_text {
        font-weight: bold;
        line-height: 20px;
        font-size: 20px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 14px 11px 0 20px;
        text-align: center;
    }

    .calc_button {
        position: absolute;
        left: -186px;
        top: 40px;
    }
    .wripernavi {
        border-bottom: 1px solid #005FA3;
    }
    .navi {
        height: 67px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #005FA3;

        text-align: center;
        display: none;
    }


    .navi ul li a {
        display: inline-block;
        padding: 19px 6px;
        text-decoration: none;
        color: #005FA3;
        letter-spacing: 1px;
    }

    .line {
        width: 100%;
    }

    #changeable_price {
        font-size: 23px;
        width: 100%;
        text-align: center;
    }

    .total_price {
        font-size: 23px;
        text-align: center;
        margin: 0px 18px;
        line-height: 25px;
    }

    .text_button {
        font-size: 20px;
    }

    .advert {
        height: 48px;
        font-style: normal;
        font-weight: bold;
        line-height: 59px;
        font-size: 21px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 0px 0 0 38px;

    }

    .characteristics {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #000000;
        float: left;
    }

    .texture {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        float: left;
        padding: 0px 0 0 93px;
    }

    .capital_headline {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #000000;
        text-transform: uppercase;
        display: inline-block;
    }

    .small_headline {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        display: inline-block;

    }

    .square_meters {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        padding: 0 0 0 10px;
        float: right;
    }

    .input_form {
        width: 40px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #005FA3;
        box-sizing: border-box;
        float: right;
        display: inline-block;
        padding: 3px 0 3px 8px;
    }

    .wrapper_calc {
        padding: 0px 60px 0 13px;
    }

    .footer p {
        width: 175px;
        height: 24px;
        padding-top: 38px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        color: #FFFFFF;
    }

    .adress {
        width: 165px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 12px;
        color: #FFFFFF;
        margin-top: 10px;
    }

    .ceiling {
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 15px;
        color: #FFFFFF;
        width: 170%;
    }

    .footer ul li {
        padding: 2px 0 0 0;
    }

    .footer a {
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        font-size: 11px;
        color: #FFFFFF;
    }

    .eurosites {
        padding-left: 33%;
        padding-top: 5%;
    }

    .nice-select {
        -webkit-tap-highlight-color: transparent;
        background-color: #fff;
        border-radius: 0px;
        border: solid 1px #e8e8e8;
        box-sizing: border-box;
        cursor: pointer;
        font-family: inherit;
        font-size: 20px;
        font-weight: normal;
        line-height: 30px;
        outline: none;
        padding-left: 10px;
        padding-right: 34px;
        position: relative;
        text-align: left !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: 100%;
        color: #005FA3;
    }

    .nice-select .list {
        width: 100%;
    }

    .right_side {/*
        width: 100%;
        height: 531px;
        float: left;
        padding: 25px;
        background: #FFFFFF;
        box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25), 4px 4px 40px rgba(0, 95, 163, 0.25);
        */    width: 100%;
        height: 531px;
        float: left;
        padding: 25px;
        background: #FFFFFF;
        box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25), 4px 4px 40px rgba(0, 95, 163, 0.25);
        left: 0;
    }



    .button_submit {
        width: 100%;
        height: 50px;
        margin-top: 35px;
        background: #FFFFFF;
        border-radius: 50px;
    }

    .error_text {
        display: none;
        color: #d10008;
        font-size: 15px;
        top: 90px;
        right: 50px;
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 90%;
        height: 30px;
        transition: 1s;
    }

    .error {
        border: 3px solid #e20202;
        border-radius: 10px;
    }

    /*
    ADAPTIVE MENU
    */
    .k-menu-bar {
        padding: .5rem 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

    }

    .k-menu-bar.active {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    /* MENU BACKDROP */
    .k-menu-backdrop {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        z-index: 9999;
        display: none;
        cursor: pointer;
    }

    .k-menu-backdrop.active {
        display: block;
    }

    /* BEGIN MENU */
    .k-responsive-menu,
    [k-responsive-menu] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: .5rem;
        padding-bottom: .5rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: none;
    }

    .k-responsive-menu > *,
    [k-responsive-menu] > * {
        list-style-type: none;
    }

    .k-responsive-menu .k-button-toggle,
    [k-responsive-menu] .k-button-toggle {
        display: none;
    }

    .k-responsive-menu .form-inline,
    [k-responsive-menu] .form-inline {
        padding: 0 15px 0 15px;
    }

    /* Toggle */
    .k-responsive-menu.k-menu-toggle.k-active-mobile,
    [k-responsive-menu].k-menu-toggle.k-active-mobile {
        padding: 1rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 1000;
        display: none;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile.k-expand,
    [k-responsive-menu].k-menu-toggle.k-active-mobile.k-expand {
        display: block;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile .dropdown-menu,
    [k-responsive-menu].k-menu-toggle.k-active-mobile .dropdown-menu {
        position: static !important;
        -webkit-transform: none !important;
        transform: none !important;
        float: none;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile .k-button-toggle,
    [k-responsive-menu].k-menu-toggle.k-active-mobile .k-button-toggle {
        display: block;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile .nav,
    [k-responsive-menu].k-menu-toggle.k-active-mobile .nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile.k-menu-push-right,
    [k-responsive-menu].k-menu-toggle.k-active-mobile.k-menu-push-right {
        padding: 0;
        right: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile.k-menu-push-left,
    [k-responsive-menu].k-menu-toggle.k-active-mobile.k-menu-push-left {
        padding: 0;
        left: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    /* Horizontal */
    .k-responsive-menu.k-menu-horizontal.k-active-mobile,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile {
        padding: 1rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 1000;
        display: none;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile.k-expand,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile.k-expand {
        display: block;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile .dropdown-menu,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile .dropdown-menu {
        position: static !important;
        -webkit-transform: none !important;
        transform: none !important;
        float: none;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile .k-button-toggle,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile .k-button-toggle {
        display: block;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile .nav,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile .nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile.k-menu-push-right,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile.k-menu-push-right {
        padding: 0;
        right: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile.k-menu-push-left,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile.k-menu-push-left {
        padding: 0;
        left: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    /* Vertical */
    .k-responsive-menu.k-menu-vertical,
    [k-responsive-menu].k-menu-vertical {
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-vertical .form-inline,
    [k-responsive-menu].k-menu-vertical .form-inline {
        padding: 15px 0;
    }

    .k-responsive-menu.k-menu-vertical .dropdown-menu,
    [k-responsive-menu].k-menu-vertical .dropdown-menu {
        position: static !important;
        -webkit-transform: none !important;
        transform: none !important;
        float: none;
    }

    .k-responsive-menu.k-menu-vertical .nav,
    [k-responsive-menu].k-menu-vertical .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-vertical .nav .nav-item .nav-link,
    [k-responsive-menu].k-menu-vertical .nav .nav-item .nav-link {
        padding: .5rem 0;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile,
    [k-responsive-menu].k-menu-vertical.k-active-mobile {
        display: none;
        padding: 1rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 1000;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile.k-expand,
    [k-responsive-menu].k-menu-vertical.k-active-mobile.k-expand {
        display: block;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile .form-inline,
    [k-responsive-menu].k-menu-vertical.k-active-mobile .form-inline {
        padding: 0 15px 0 15px;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile .k-button-toggle,
    [k-responsive-menu].k-menu-vertical.k-active-mobile .k-button-toggle {
        display: block;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile .nav .nav-item .nav-link,
    [k-responsive-menu].k-menu-vertical.k-active-mobile .nav .nav-item .nav-link {
        padding: .5rem 1rem;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile.k-menu-push-right,
    [k-responsive-menu].k-menu-vertical.k-active-mobile.k-menu-push-right {
        padding: 0;
        right: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile.k-menu-push-left,
    [k-responsive-menu].k-menu-vertical.k-active-mobile.k-menu-push-left {
        padding: 0;
        left: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

}

/*------РАЗРЕШЕНИЕ С 768px and lower------*/
@media screen and (min-width: 320px) and (max-width: 576px) {

    footer {
        display: none;
    }

    .left_side {
        width: 100%;
        height: 545px;
        background: #005FA3;
        padding: 15px;
        float: left;
        margin: 0 0 10px;
    }

    .col-white img {
        width: 155px;
        height: 100px;
    }

    .img_logo {
        position: relative;
        z-index: 2;
        top: 3px;
        left: 180px;
    }

    .rectangle_one {
        padding: 20px 0 0 0;
    }

    .col-white:before {
        content: "";
        position: absolute;
        top: 0;
        right: -110px;
        height: 115%;
        width: 2000px;
        background-color: white;
    }

    .fa-map-marker {
        width: 5px;
        height: 2px;
        font-weight: normal;
        line-height: 16px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
    }

    .text_second a {
        font-style: normal;
        font-weight: bold;
        line-height: 0px;
        font-size: 12px;
        color: #FFFFFF;
    }

    .text_first {
        font-weight: bold;
        line-height: 18px;
        font-size: 14px;
        color: #FFFFFF;
        float: left;
        padding: 0 0 0 8px;
    }

    .fa-phone {
        width: 0px;
        height: 0px;
        font-weight: normal;
        line-height: 26px;
        font-size: 12px;
        color: #FFFFFF;
        float: left;
        padding: 0px 0 0 0;
    }

    .rectangle_two {
        padding: 15px 0 0 28px;
    }

    .button_calc {
        width: 310px;
        height: 50px;
        background: #FFFFFF;
        float: left;
        margin: 50px 0 0 20px;
        border-radius: 50px;
        display: none;
    }

    .fa-calculator {
        font-family: FontAwesome;
        font-weight: normal;
        line-height: 42px;
        font-size: 30px;
        color: #005FA3;
        float: left;
        padding: 4px 0 0 20px;
    }

    .calculator_text {
        font-weight: bold;
        line-height: 20px;
        font-size: 20px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 14px 11px 0 20px;
        text-align: center;
    }

    .calc_button {
        position: absolute;
        left: -186px;
        top: 40px;
    }

    .wripernavi {
        border-bottom: 1px solid #005FA3;
    }
    .navi {
        height: 67px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #005FA3;
        text-align: center;
        display: none;
    }

    .navi ul li a {
        display: inline-block;
        padding: 19px 6px;
        text-decoration: none;
        color: #005FA3;
        letter-spacing: 1px;
    }

    .line {
        width: 100%;
    }

    #changeable_price {
        font-size: 23px;
        width: 100%;
        text-align: center;
    }

    .total_price {
        font-size: 23px;
        text-align: center;
        margin: 0px 18px;
        line-height: 25px;
    }

    .text_button {
        font-size: 20px;
    }

    .advert {
        height: 48px;
        font-style: normal;
        font-weight: bold;
        line-height: 59px;
        font-size: 21px;
        letter-spacing: 0.05em;
        color: #005FA3;
        padding: 0px 0 0 38px;

    }

    .characteristics {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #000000;
        float: left;
    }

    .texture {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        float: left;
        padding: 0px 0 0 93px;
    }

    .capital_headline {
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #000000;
        text-transform: uppercase;
        display: inline-block;
    }

    .small_headline {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        display: inline-block;

    }

    .square_meters {
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #000000;
        padding: 0 0 0 10px;
        float: right;
    }

    .input_form {
        width: 40px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #005FA3;
        box-sizing: border-box;
        float: right;
        display: inline-block;
        padding: 3px 0 3px 8px;
    }

    .wrapper_calc {
        padding: 0px 60px 0 13px;
    }

    .footer p {
        width: 175px;
        height: 24px;
        padding-top: 38px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        color: #FFFFFF;
    }

    .adress {
        width: 165px;
        font-style: normal;
        font-weight: bold;
        line-height: 30px;
        font-size: 12px;
        color: #FFFFFF;
        margin-top: 10px;
    }

    .ceiling {
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 15px;
        color: #FFFFFF;
        width: 170%;
    }

    .footer ul li {
        padding: 2px 0 0 0;
    }

    .footer a {
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        font-size: 11px;
        color: #FFFFFF;
    }

    .eurosites {
        padding-left: 33%;
        padding-top: 5%;
    }

    .nice-select {
        -webkit-tap-highlight-color: transparent;
        background-color: #fff;
        border-radius: 0px;
        border: solid 1px #e8e8e8;
        box-sizing: border-box;
        cursor: pointer;
        font-family: inherit;
        font-size: 20px;
        font-weight: normal;
        line-height: 30px;
        outline: none;
        padding-left: 10px;
        padding-right: 34px;
        position: relative;
        text-align: left !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: 100%;
        color: #005FA3;
    }

    .nice-select .list {
        width: 100%;
    }

    .right_side {
        width: 100%;
        height: 531px;
        float: left;
        padding: 25px;
        background: #FFFFFF;
        box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25), 4px 4px 40px rgba(0, 95, 163, 0.25);
    }



    .button_submit {
        width: 100%;
        height: 50px;
        margin-top: 35px;
        background: #FFFFFF;
        border-radius: 50px;
    }

    .error_text {
        display: none;
        color: #d10008;
        font-size: 15px;
        top: 90px;
        right: 50px;
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 90%;
        height: 30px;
        transition: 1s;
    }

    .error {
        border: 3px solid #e20202;
        border-radius: 10px;
    }

    /*
    ADAPTIVE MENU
    */
    .k-menu-bar {
        padding: .5rem 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

    }

    .k-menu-bar.active {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    /* MENU BACKDROP */
    .k-menu-backdrop {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        z-index: 9999;
        display: none;
        cursor: pointer;
    }

    .k-menu-backdrop.active {
        display: block;
    }

    /* BEGIN MENU */
    .k-responsive-menu,
    [k-responsive-menu] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: .5rem;
        padding-bottom: .5rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: none;
    }

    .k-responsive-menu > *,
    [k-responsive-menu] > * {
        list-style-type: none;
    }

    .k-responsive-menu .k-button-toggle,
    [k-responsive-menu] .k-button-toggle {
        display: none;
    }

    .k-responsive-menu .form-inline,
    [k-responsive-menu] .form-inline {
        padding: 0 15px 0 15px;
    }

    /* Toggle */
    .k-responsive-menu.k-menu-toggle.k-active-mobile,
    [k-responsive-menu].k-menu-toggle.k-active-mobile {
        padding: 1rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 1000;
        display: none;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile.k-expand,
    [k-responsive-menu].k-menu-toggle.k-active-mobile.k-expand {
        display: block;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile .dropdown-menu,
    [k-responsive-menu].k-menu-toggle.k-active-mobile .dropdown-menu {
        position: static !important;
        -webkit-transform: none !important;
        transform: none !important;
        float: none;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile .k-button-toggle,
    [k-responsive-menu].k-menu-toggle.k-active-mobile .k-button-toggle {
        display: block;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile .nav,
    [k-responsive-menu].k-menu-toggle.k-active-mobile .nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile.k-menu-push-right,
    [k-responsive-menu].k-menu-toggle.k-active-mobile.k-menu-push-right {
        padding: 0;
        right: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .k-responsive-menu.k-menu-toggle.k-active-mobile.k-menu-push-left,
    [k-responsive-menu].k-menu-toggle.k-active-mobile.k-menu-push-left {
        padding: 0;
        left: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    /* Horizontal */
    .k-responsive-menu.k-menu-horizontal.k-active-mobile,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile {
        padding: 1rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 1000;
        display: none;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile.k-expand,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile.k-expand {
        display: block;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile .dropdown-menu,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile .dropdown-menu {
        position: static !important;
        -webkit-transform: none !important;
        transform: none !important;
        float: none;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile .k-button-toggle,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile .k-button-toggle {
        display: block;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile .nav,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile .nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile.k-menu-push-right,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile.k-menu-push-right {
        padding: 0;
        right: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .k-responsive-menu.k-menu-horizontal.k-active-mobile.k-menu-push-left,
    [k-responsive-menu].k-menu-horizontal.k-active-mobile.k-menu-push-left {
        padding: 0;
        left: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    /* Vertical */
    .k-responsive-menu.k-menu-vertical,
    [k-responsive-menu].k-menu-vertical {
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-vertical .form-inline,
    [k-responsive-menu].k-menu-vertical .form-inline {
        padding: 15px 0;
    }

    .k-responsive-menu.k-menu-vertical .dropdown-menu,
    [k-responsive-menu].k-menu-vertical .dropdown-menu {
        position: static !important;
        -webkit-transform: none !important;
        transform: none !important;
        float: none;
    }

    .k-responsive-menu.k-menu-vertical .nav,
    [k-responsive-menu].k-menu-vertical .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .k-responsive-menu.k-menu-vertical .nav .nav-item .nav-link,
    [k-responsive-menu].k-menu-vertical .nav .nav-item .nav-link {
        padding: .5rem 0;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile,
    [k-responsive-menu].k-menu-vertical.k-active-mobile {
        display: none;
        padding: 1rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 1000;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile.k-expand,
    [k-responsive-menu].k-menu-vertical.k-active-mobile.k-expand {
        display: block;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile .form-inline,
    [k-responsive-menu].k-menu-vertical.k-active-mobile .form-inline {
        padding: 0 15px 0 15px;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile .k-button-toggle,
    [k-responsive-menu].k-menu-vertical.k-active-mobile .k-button-toggle {
        display: block;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile .nav .nav-item .nav-link,
    [k-responsive-menu].k-menu-vertical.k-active-mobile .nav .nav-item .nav-link {
        padding: .5rem 1rem;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile.k-menu-push-right,
    [k-responsive-menu].k-menu-vertical.k-active-mobile.k-menu-push-right {
        padding: 0;
        right: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .k-responsive-menu.k-menu-vertical.k-active-mobile.k-menu-push-left,
    [k-responsive-menu].k-menu-vertical.k-active-mobile.k-menu-push-left {
        padding: 0;
        left: -100%;
        top: 0;
        height: 100%;
        overflow-y: scroll;
    }

}




