body {
    background: #003459;;
}

.authorization {
    width: 450px;
    height: 480px;
    background: #FFFFFF;
    padding: 35px;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -200px;
    box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25),
    0 0 99px rgba(255, 255, 255, 0.25);

}

.main {
    font-weight: bold;
    line-height: normal;
    font-size: 38px;
    text-align: center;

    color: #005FA3;
}

.enter {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    padding: 5% 0 0 0;
    color: #000000;

}

.new_user_authorization {
    font-weight: bold;
    line-height: 43px;
    font-size: 26px;
    letter-spacing: 0.05em;
    padding: 5% 0 0% 0;
    color: #000000;
}

.label_authorization {
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    width: 100%;
    color: #000000;
    padding: 1% 0 0 0;
}

.login_authorization {
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;
    padding: 0 0 0 2%;
}

.login_input {
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;
    padding: 0 0 0 2%;
}

.login_input:hover {
    color: #0085e0;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 8px 6px #0085e0;
    opacity: 0.8;
}

.login_input::placeholder {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;
}

.label_password_authorization {
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    width: 100%;
    color: #000000;
    padding: 3% 0 0 0;
}


.come_in_authorization {
    width: 100%;
    height: 50px;
    margin: 13% 0 0 0;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #005FA3;
    transition: 0.3s;
    text-transform: uppercase;


}

.come_in_authorization:hover {
    color: #0085e0;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 8px 6px #0085e0;
    opacity: 0.8;
}

.label_login_authorization {
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    width: 100%;
    color: #000000;
    padding: 5% 0 0 0;
}

.mistake {
    border: 1px solid red;
    text-align: center;
    margin: 10px 11% 0 7%;
    border-radius: 5px;
    position: absolute;
    box-shadow: -4px -4px 40px rgb(233, 20, 9), 0 0 99px rgba(233, 20, 9, 0.25);
    width: 70%;
}

.check {
    border: 1px solid red;
    text-align: center;
    margin: 10px 11% 0 7%;
    border-radius: 5px;
    position: absolute;
    box-shadow: -4px -4px 40px rgb(233, 20, 9), 0 0 99px rgba(233, 20, 9, 0.25);
    width: 70%;
}