.k-menu-bar {
    padding: .5rem 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}

.k-menu-bar.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* MENU BACKDROP */
.k-menu-backdrop {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    z-index: 9999;
    display: none;
    cursor: pointer;
}

.k-menu-backdrop.active {
    display: block;
}

/* BEGIN MENU */
.k-responsive-menu,
[k-responsive-menu] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

.k-responsive-menu > *,
[k-responsive-menu] > * {
    list-style-type: none;
}

.k-responsive-menu .k-button-toggle,
[k-responsive-menu] .k-button-toggle {
    display: none;
}

.k-responsive-menu .form-inline,
[k-responsive-menu] .form-inline {
    padding: 0 15px 0 15px;
}

/* Toggle */
.k-responsive-menu.k-menu-toggle.k-active-mobile,
[k-responsive-menu].k-menu-toggle.k-active-mobile {
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1000;
    display: none;
}

.k-responsive-menu.k-menu-toggle.k-active-mobile.k-expand,
[k-responsive-menu].k-menu-toggle.k-active-mobile.k-expand {
    display: block;
}

.k-responsive-menu.k-menu-toggle.k-active-mobile .dropdown-menu,
[k-responsive-menu].k-menu-toggle.k-active-mobile .dropdown-menu {
    position: static !important;
    -webkit-transform: none !important;
    transform: none !important;
    float: none;
}

.k-responsive-menu.k-menu-toggle.k-active-mobile .k-button-toggle,
[k-responsive-menu].k-menu-toggle.k-active-mobile .k-button-toggle {
    display: block;
}

.k-responsive-menu.k-menu-toggle.k-active-mobile .nav,
[k-responsive-menu].k-menu-toggle.k-active-mobile .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.k-responsive-menu.k-menu-toggle.k-active-mobile.k-menu-push-right,
[k-responsive-menu].k-menu-toggle.k-active-mobile.k-menu-push-right {
    padding: 0;
    right: -100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

.k-responsive-menu.k-menu-toggle.k-active-mobile.k-menu-push-left,
[k-responsive-menu].k-menu-toggle.k-active-mobile.k-menu-push-left {
    padding: 0;
    left: -100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

/* Horizontal */
.k-responsive-menu.k-menu-horizontal.k-active-mobile,
[k-responsive-menu].k-menu-horizontal.k-active-mobile {
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1000;
    display: none;
}

.k-responsive-menu.k-menu-horizontal.k-active-mobile.k-expand,
[k-responsive-menu].k-menu-horizontal.k-active-mobile.k-expand {
    display: block;
}

.k-responsive-menu.k-menu-horizontal.k-active-mobile .dropdown-menu,
[k-responsive-menu].k-menu-horizontal.k-active-mobile .dropdown-menu {
    position: static !important;
    -webkit-transform: none !important;
    transform: none !important;
    float: none;
}

.k-responsive-menu.k-menu-horizontal.k-active-mobile .k-button-toggle,
[k-responsive-menu].k-menu-horizontal.k-active-mobile .k-button-toggle {
    display: block;
}

.k-responsive-menu.k-menu-horizontal.k-active-mobile .nav,
[k-responsive-menu].k-menu-horizontal.k-active-mobile .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.k-responsive-menu.k-menu-horizontal.k-active-mobile.k-menu-push-right,
[k-responsive-menu].k-menu-horizontal.k-active-mobile.k-menu-push-right {
    padding: 0;
    right: -100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

.k-responsive-menu.k-menu-horizontal.k-active-mobile.k-menu-push-left,
[k-responsive-menu].k-menu-horizontal.k-active-mobile.k-menu-push-left {
    padding: 0;
    left: -100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

/* Vertical */
.k-responsive-menu.k-menu-vertical,
[k-responsive-menu].k-menu-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.k-responsive-menu.k-menu-vertical .form-inline,
[k-responsive-menu].k-menu-vertical .form-inline {
    padding: 15px 0;
}

.k-responsive-menu.k-menu-vertical .dropdown-menu,
[k-responsive-menu].k-menu-vertical .dropdown-menu {
    position: static !important;
    -webkit-transform: none !important;
    transform: none !important;
    float: none;
}

.k-responsive-menu.k-menu-vertical .nav,
[k-responsive-menu].k-menu-vertical .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.k-responsive-menu.k-menu-vertical .nav .nav-item .nav-link,
[k-responsive-menu].k-menu-vertical .nav .nav-item .nav-link {
    padding: .5rem 0;
}

.k-responsive-menu.k-menu-vertical.k-active-mobile,
[k-responsive-menu].k-menu-vertical.k-active-mobile {
    display: none;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1000;
}

.k-responsive-menu.k-menu-vertical.k-active-mobile.k-expand,
[k-responsive-menu].k-menu-vertical.k-active-mobile.k-expand {
    display: block;
}

.k-responsive-menu.k-menu-vertical.k-active-mobile .form-inline,
[k-responsive-menu].k-menu-vertical.k-active-mobile .form-inline {
    padding: 0 15px 0 15px;
}

.k-responsive-menu.k-menu-vertical.k-active-mobile .k-button-toggle,
[k-responsive-menu].k-menu-vertical.k-active-mobile .k-button-toggle {
    display: block;
}

.k-responsive-menu.k-menu-vertical.k-active-mobile .nav .nav-item .nav-link,
[k-responsive-menu].k-menu-vertical.k-active-mobile .nav .nav-item .nav-link {
    padding: .5rem 1rem;
}

.k-responsive-menu.k-menu-vertical.k-active-mobile.k-menu-push-right,
[k-responsive-menu].k-menu-vertical.k-active-mobile.k-menu-push-right {
    padding: 0;
    right: -100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

.k-responsive-menu.k-menu-vertical.k-active-mobile.k-menu-push-left,
[k-responsive-menu].k-menu-vertical.k-active-mobile.k-menu-push-left {
    padding: 0;
    left: -100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #005FA3;
    letter-spacing: 2px;
    border-bottom: 1px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
}
