body {
    font-family: Roboto;
}

.header_row {
    height: 172px;
}

header {
    background: #005FA3;
    overflow: hidden;
}

.head {
    border-bottom: 1px solid #005FA3;
    box-shadow: 0px 4px 0px rgba(13, 196, 255, 0.25);
}

.col-white {
    position: relative;
}

.col-white:before {
    content: "";
    position: absolute;
    top: 0;
    right: -65px;
    height: 100%;
    width: 2000px;
    background-color: white;
}

.img_logo {
    position: relative;
    z-index: 2;
    top: 8px;
}

.col-white img {
    width: 225px;
    height: 137px;
}


.rectangle_one {
    padding: 50px 0 0 65px;
    width: 115%;
}

.rectangle_two {
    padding: 40px 0 0 35px;
}

.icon {
    position: absolute;
    width: 15px;
    height: 24px;
    left: 678px;
    top: 59px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
    color: #FFFFFF;
}

.text_first {
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    color: #FFFFFF;
    float: left;
    padding: 0 0 0 8px;
}

.fa-map-marker {
    width: 14px;
    height: 21px;
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
    color: #FFFFFF;
    float: left;
}

.text_second {
    float: left;
    padding: 12px 0 0 15px;
    line-height: 18px;
}

.text_second a {
    float: left;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    color: #FFFFFF;
}

.fa-phone {
    width: 14px;
    height: 21px;
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
    color: #FFFFFF;
    float: left;
    padding: 10px 0 0 0;
}

.button_calc {
    width: 282px;
    height: 68px;
    background: #FFFFFF;
    float: left;
    margin: 10px 0 0 20px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;

}

.button_calc:hover {
    box-shadow: 0 0 8px 6px #07a3a1;
}

.calculator_icon {
    float: left;
}

.fa-calculator {
    font-family: FontAwesome;
    font-weight: normal;
    line-height: 42px;
    font-size: 30px;
    color: #005FA3;
    float: left;
    padding: 14px 0 0 10px;
}

.calculator_text {;
    font-weight: bold;
    line-height: 33px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #005FA3;
    padding: 18px 0 0 48px;
}

.calculator_text a {
    font-weight: bold;
    line-height: 33px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #005FA3;
}

/*-----------------НАВИГАЦИЯ*------------------*/
.wripernavi {
    border-bottom: 1px solid #005FA3;
}

.navi {
    height: 70px;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #005FA3;


}

.navi ul li {
    display: inline-block;
    position: relative;

}

.navi ul li a {
    display: inline-block;
    padding: 19px 20px;
    text-decoration: none;
    color: #005FA3;
    letter-spacing: 1px;
}

.navi ul {
    display: inline-block;
    text-transform: uppercase;

}

.navi ul li:before {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0DC4FF;
    opacity: 0;
    transition: 0.5s ease;
}

.navi ul li:hover:before {
    opacity: 1;
}

/*Контент*/
.calculator {
    padding-top: 100px;
}

.left_side {
    width: 37%;
    height: 531px;
    background: #005FA3;
    padding: 25px;
    float: left;
}

.total_price {
    height: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    font-size: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#changeable_price {
    width: 390.7px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.line {
    width: 242.01px;
    opacity: 0.3;
    border: 2px solid #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.delivery_city {
    padding: 10px 0 0 0;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.icon_calculator {
    line-height: 39px;
    font-size: 28px;
    color: #005FA3;
}

.phone_block {
    position: relative;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.phone_block:after {
    opacity: 0.5;
}

.select_city {
    display: block;
    padding: 10px 15px;
    background: #FFFFFF;
    height: 50px;
}

/*______SELECT CITY ADDITIONAL CSS_______*/

/*BEGINNIG*/

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 0px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    color: #005FA3;
}

.nice-select:hover {
    border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #999;
}

.nice-select:after {
    border-bottom: 3px solid #005FA3;
    border-right: 3px solid #005FA3;
    content: '';
    display: block;
    height: 15px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: 40%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 73% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 15px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    width: 100%;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

/*____END____*/


/*______________CALCULATOR PICKER__________*/
/*BEGINNING*/


.pickmeup {
    background: #ffffff;;
    border-radius: 0.1em;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    touch-action: manipulation;
}

.pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pickmeup.pmu-flat {
    position: relative
}

.pickmeup.pmu-hidden {
    display: none
}

.pickmeup .pmu-instance {
    display: inline-block;
    height: 13.8em;
    padding: .5em;
    text-align: center;
    width: 15em;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
}

.pickmeup .pmu-instance .pmu-button {
    color: #005FA3;
    cursor: pointer;
    outline: none;
    text-decoration: none
}

.pickmeup .pmu-instance .pmu-today {
    background: #17384d;
    color: #88c5eb
}

.pickmeup .pmu-instance .pmu-button:hover {
    background: transparent;
    color: #88c5eb
}

.pickmeup .pmu-instance .pmu-not-in-month {
    color: #666
}

.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
    color: #333;
    cursor: default
}

.pickmeup .pmu-instance .pmu-selected {
    background: #136a9f;
    color: #eee
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    background: #17384d
}

.pickmeup .pmu-instance nav {
    color: #eee;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 2em
}

.pickmeup .pmu-instance nav *:first-child :hover {
    color: #88c5eb
}

.pickmeup .pmu-instance nav .pmu-prev,
.pickmeup .pmu-instance nav .pmu-next {
    display: none;
    height: 2em;
    width: 1em
}

.pickmeup .pmu-instance nav .pmu-month {
    width: 14em
}

.pickmeup .pmu-instance .pmu-years *,
.pickmeup .pmu-instance .pmu-months * {
    display: inline-block;
    line-height: 3.6em;
    width: 3.5em
}

.pickmeup .pmu-instance .pmu-day-of-week {
    color: #999;
    cursor: default
}

.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
    display: inline-block;
    line-height: 1.5em;
    width: 2em
}

.pickmeup .pmu-instance .pmu-day-of-week * {
    line-height: 1.8em
}

.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next {
    display: block
}

.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em
}

.pickmeup:not(.pmu-view-days) .pmu-days,
.pickmeup:not(.pmu-view-days) .pmu-day-of-week,
.pickmeup:not(.pmu-view-months) .pmu-months,
.pickmeup:not(.pmu-view-years) .pmu-years {
    display: none
}

/*END*/

.icon_picker {
    background-image: url(../img/calculator.png);

}


.calendar {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background: #FFFFFF;
    color: #005FA3;
    transition: 0.1s;
    height: 50px;

}
.calendar::placeholder {
    color: #005FA3;
}

.icon_calendar {
    position: absolute;
    width: 32px;
    height: 26px;
    left: 712px;
    top: 624px;
    font-style: normal;
    font-weight: normal;
    line-height: 39px;
    font-size: 28px;

    color: #005FA3;
    background-image: url(../img/calculator.png);
}

.icon_c {
    position: absolute;
    top: 66%;
    left: 36%;
}


.button_submit {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.error {
    border: 3px solid #d10008;
    border-radius: 10px;
}

.error_text {
    display: none;
    color: #FFFFFF;
    font-size: 12px;
    top: 70px;
    right: 50px;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 30px;
    transition: 0.1s;
}

.error_border {
    border-radius: 4px;
    border-bottom: 3px solid red;
}

.error_text_checkbox {
    display: none;
    color: #FFFFFF;
    font-size: 12px;
    top: 280px;
    right: 80px;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 30px;
    transition: 0.1s;
}

.button_submit:hover {
    box-shadow: 0 0 8px 6px #07a3a1;
}

.text_button {
    width: 261.67px;
    height: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #005FA3;
    text-transform: uppercase;
}

.personal_data {
    padding: 10px 0 0 0;

}

.box_agree {
    width: 17px;
    height: 17px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    position: absolute;
}

.agree p {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.agree a {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-decoration: underline;
    color: #FFFFFF;
}

/**************ПРАВАЯ ЧАСТЬ КОНТЕЙНЕРА ***************/
.right_side {
    width: 63%;
    height: 531px;
    float: right;
    padding: 25px;
    background: #FFFFFF;
    box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25), 4px 4px 40px rgba(0, 95, 163, 0.25);
}

.up_side {
    width: 100%;
    height: 18%;
}

.calc {
    width: 34px;
    height: 37px;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    font-size: 36px;
    background-image: url(../img/right.png);
    color: #005FA3;
    float: left;
    margin-top: 17px;

}

.advert {
    height: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    font-size: 33px;
    letter-spacing: 0.05em;
    color: #005FA3;
    padding: 11px 0 0 38px;
}

.down_side {
    height: 10%;
}

.characteristics {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    float: left;
}

.texture {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    float: left;
    padding: 0px 0 0 220px;
}

.left_side_calc {
    width: 64%;
    float: left;
}

.square {
    display: block;
    padding: 0 60px 0 0;
}

.right_side_calc {
    width: 36%;
    float: left;
}

.capital_headline {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
}

.small_headline {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #606060;
    display: inline-block;
}

.small_headline:active {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
}

.wrapper_calc {
    padding: 0 60px 0 50px;
}

.square_meters {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 0 0 0 10px;
    float: right;
}

.input_form {
    width: 64px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #005FA3;
    box-sizing: border-box;
    float: right;
    display: inline-block;
    text-align: center;
}

.input_form_wripper {
    display: inline-block;
    float: right;
}

.input_form_wripper:hover {
    box-shadow: 0 0 2px 1px #07a3a1;
}

.small_headline_quantity {
    padding: 13px 0 0 0;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    display: inline-block;
}

.quantity {
    padding: 20px 5% 0 0;
    display: inline-block;
    width: 100%
}

.square_meters {
    display: inline-block;
}

.torcher {
    padding: 20px 5% 0 0;
    display: inline-block;
    width: 100%
}

.tubes {
    padding: 20px 5% 0 0;
    display: inline-block;
    width: 100%
}

.lamps {
    padding: 20px 5% 0 0;
    display: inline-block;
    width: 100%
}

.wripper_checkbox_two {
    padding: 15px 0 0 0;
}

.box_selected {
    display: block;
    float: right;
    margin: 0 45px 0 0;
    width: 30px;
    height: 20px;

    background: #FFFFFF;
    border: 1px solid #005FA3;
    box-sizing: border-box;
}

.box_unselected {
    margin-left: 38px;

    width: 30px;
    height: 20px;

    background: #FFFFFF;
    border: 1px solid #005FA3;
    box-sizing: border-box;
}

.capital_headline_new {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    padding: 11px 0 5px 0;
    width: 100%
}

.small_headline_new {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    display: inline-block;
    width: 100%;
}

/******РАДИО БОКС ПОД КНОПКОЙ ОТПРАВИТЬ**********/
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    background: #FFF;

}

.radio + label:after {
    position: absolute;
    top: 0px;
    left: 3px;
    width: 16px;
    height: 16px;

    opacity: 0;
    transition: 0.1s;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 95, 163, 0.75);
}

/****КОНЕЦ****/


/****ЧЕКБОКСЫ В КАЛЬКУЛЯТОРЕ****/
.radio_add {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio_add + label {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 10px 50px 0 0;
}

.radio_add + label:before {
    content: '';
    position: absolute;

    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    background: #FFF;
}

.radio_add + label:after {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: 0.2s;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}


.radio_add:checked + label:after {
    opacity: 1;
}

.radio_add:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 95, 163, 0.75);
}

/*******КОНЕЦ******/
#white {
    margin: 10% 0 0 0;
}

/************FOOTER*******************/


footer {
    background: #005FA3;
}

.footer p {
    width: 175px;
    height: 24px;
    padding-top: 38px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.footer a {

    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    color: #FFFFFF;
}

.footer potolki p {
    position: absolute;
    width: 281px;
    height: 34px;
    left: 1264px;
    top: 1065px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;

    color: #FFFFFF;
}

.adress {
    width: 300px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 10px;
}

.adress a {

    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 10px;
}

.end {
    height: 70px;
    border-top: 2px solid white;
}

.footer_row {
    height: 320px;
}

.create_site {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    padding-top: 30px;
    color: #FFFFFF;
}

.ukon {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    font-size: 40px;
    color: #FFFFFF;
}

.footer_icon {
    width: 35px;
    height: 28.82px;
    background: url(../img/siluet.png);
    margin-top: 42px;
}

.footer ul {
    padding-top: 25px;
}

.footer ul li {
    padding: 7px 0 0 0;
}

.eurosites a {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.eurosites {
    padding-left: 670px;
    padding-top: 10px;
}

.ceiling {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.footer_part {
    margin-top: 10%;
}

/**********ПАНЕЛЬ АДМИНИСТРАТОРА*********/
.users {
    width: 100%;
    font-weight: bold;
    line-height: 59px;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #005FA3;
    padding: 5% 0 2% 0;
}

.left_head {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    height: 40px;
    padding: 4px 0 0 0;
}

.middle_head {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    height: 40px;
    padding: 4px 0 0 15px;
}

.right_head {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    height: 40px;
    padding: 4px 0 0 0;
}

.left {

    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;

}

.middle {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
}

.right {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
}

.left_white {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 5px 0 0 0;
    text-align: center;
    width: 15%;

}

.middle_white {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 5px 0 0 15px;
    width: 70%;
}


.right_white {

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000000;
    width: 15%;
}

.fa-pencil-square-o {
    font-weight: normal;
    line-height: 39px;
    font-size: 30px;
    padding-left: 30%;
    color: #039F00;
    cursor: pointer;
    opacity: 0.6;
}


.fa-pencil-square-o:hover {

    opacity: 1;
}

.fa-times {
    line-height: 39px;
    font-size: 32px;
    color: red;
    cursor: pointer;
    opacity: 0.6;
}

.fa-times:hover {
    opacity: 1;
}

.left_blue {
    background: #E1F8FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 5px 0 0 0;
    text-align: center;
    width: 15%;
}

.middle_blue {
    background: #E1F8FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 5px 0 0 15px;
    width: 70%;
}

.right_blue {
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.05em;
    background: #E1F8FF;
    width: 15%;
}

.inputs_user_new {
    padding: 0;
}

.new_user {
    font-weight: bold;
    line-height: 43px;
    font-size: 26px;
    letter-spacing: 0.05em;
    padding: 5% 0 0% 0;
    color: #000000;
}

.label_login {
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    width: 100%;
    color: #000000;
    padding: 1% 0 0 0;
}

.login_input {
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    width: 370px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;
    padding: 0 0 0 2%;
}

.login_input::placeholder {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;
}

.label_password {
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 22px;
    letter-spacing: 0.05em;
    width: 100%;
    color: #000000;
    padding: 3% 0 0 0;
}

.add_user_button {

    width: 370px;
    height: 50px;
    margin: 5% 0 0 0;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #005FA3;
    transition: 0.3s;
}

.add_user_button:hover {
    color: #0085e0;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 8px 6px #0085e0;
    opacity: 0.8;
}

.left_cc {
    padding: 0;
}

.middle_cc {
    padding: 0;
}

.right_cc {
    padding: 0;
}

.calculator_custom {

    width: 621px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 59px;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #005FA3;
    padding: 5% 0 2% 0;
}

.advert_calc_customs {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    color: #000000;
    margin: 10% 0 2% 0;

}

.input_form_customs {
    width: 90%;
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    padding: 3%;
    color: #005FA3;
}

.input_form_customs::placeholder {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;

}

.color {
    padding: 0;
}

.calculator_settings_price {
    margin: 0;
}

.select_colour {
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    color: #000000;
    padding: 4% 0 5% 0;
}

.type_colour {
margin: 20px 0 20px 0;
}

.colour_plus {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    color: #005FA3;
}

.add_new_colour {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #005FA3;
    opacity: 0.8;
    cursor: pointer;
    margin: 30px 0 30px 0;

}

.add_new_colour:hover {
    opacity: 1;
    transition: 0.2s;

}

.button_add_colour {
    width: 370px;
    height: 50px;
    left: 373px;
    top: 1718px;
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #005FA3;
    cursor: pointer;
}

.button_add_colour:hover {
    color: #0085e0;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 8px 6px #0085e0;
    opacity: 0.8;
}

.another {
    color: #039F00;
    padding: 0 0 0 15px;
    opacity: 0.8;
    cursor: pointer;
}

.another:hover {
    color: #039F00;
    padding: 0 0 0 15px;
    opacity: 1;

}

.uppercase {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding: 0;
}

.regular_table {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;
}

.table th {
    padding: 5px 0 0 0;
    text-align: center;

}

.table td {
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 5px 0px 0 5px;
    color: #000000;
}

.id {
    width: 40px;
    height: 30px;
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding: 0;
}

.phone {
    width: 139px;
    height: 40px;
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;
}

.birthdate {
    width: 161px;
    height: 40px;
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;
}

.city_delivery {
    width: 160px;
    height: 30px;
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;
}

.text_app {

    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;
}

.date_app {
    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;
    width: 140px;
}

.ip {

    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding: 0;
    width: 120px;
}

.action {

    background: #9DD6FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;

}

.red_cross {
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    padding: 0;
}

.application {
    font-weight: bold;
    line-height: 59px;
    font-size: 36px;
    letter-spacing: 0.05em;
    padding: 131px 0 0 0;
    color: #005FA3;

}

.select_user_button {
    width: 370px;
    height: 50px;
    margin: 5% 0 0 0;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #005FA3;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #005FA3;
    transition: 0.3s;
}